### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [134]:
# Dependencies and Setup
import pandas as pd
import numpy as np
 

# File to Load (Remember to Change These)
Purchases= "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
Purchases= pd.read_csv(Purchases)
Purchases.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [135]:
csv_path= "Resources/purchase_data.csv"

Purchases= pd.read_csv(csv_path)
Purchases.head()

# Indexed the Data Frame by SN (Better formatting):

df= Purchases.set_index("SN")
df.head()

,Purchase ID,Age,Gender,Item ID,Item Name,Price
SN,,,,,,
Lisim78,0,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
Lisovynya38,1,40,Male,143,Frenzied Scimitar,1.56
Ithergue48,2,24,Male,92,Final Critic,4.88
Chamassasya86,3,24,Male,100,Blindscythe,3.27
Iskosia90,4,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [36]:
# Total Number of Players (unique customers' count):

total_players= Purchases["SN"].nunique()
total_players
 
pd.DataFrame({"Total Players":[total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
#  Statistical Analysis

# Number of Unique Items count:

unique_items= Purchases["Item ID"].nunique()
unique_items

# Average Price per item:

average_price= Purchases["Price"].mean()
average_price

# Number of Purchases:

purchases_count =Purchases["Purchase ID"].nunique()
purchases_count

# Total Revenue:

total_revenue= Purchases["Price"].sum()
total_revenue

# Summary Table:

pd.DataFrame({"Number of Unique Items":[unique_items], 
              "Average Price":[average_price],
              "Number of Purchases":[purchases_count],
              "Total Revenue":[total_revenue]})

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Gender Breakdown Overview


duplicates_delete= Purchases.drop_duplicates(subset ='SN', keep ='first')
duplicates_delete.head()

# Index the DataFrame by Gender
Indexed=Purchases.set_index("SN")
df.head()

,Purchase ID,Age,Gender,Item ID,Item Name,Price
SN,,,,,,
Lisim78,0,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
Lisovynya38,1,40,Male,143,Frenzied Scimitar,1.56
Ithergue48,2,24,Male,92,Final Critic,4.88
Chamassasya86,3,24,Male,100,Blindscythe,3.27
Iskosia90,4,23,Male,131,Fury,1.44

In [6]:
# Gender Breakdown:

genders_count_df=duplicates_delete["Gender"].value_counts()

pd.DataFrame(genders_count_df)

                       Gender
Male                      484
Female                     81
Other / Non-Disclosed      11

In [7]:
# Gender Percentage:

Percentage=(genders_count_df/total_players*100)
pd.DataFrame(Percentage)


# Rounding Gender Percentage to 2 decimal points:

pd.DataFrame(np.round(Percentage, decimals=2))

                       Gender
Male                    84.03
Female                  14.06
Other / Non-Disclosed    1.91

In [67]:

# Concatenating genders_count and Percentage DataFrames:

df_concat = pd.concat([genders_count_df, Percentage], axis=1)
df_concat

# Renaming new DataFrame's Column Headers:

# df_concat.rename(columns={list(df_concat)[0]:'Total Count', list(df_concat)[1]:'Percentage of Players'}, inplace = True)

df_concat.columns= [' Total Count', 'Percentage of Players']        

pd.DataFrame(np.round(df_concat, decimals=2))

                        Total Count  Percentage of Players
Male                            484                  84.03
Female                           81                  14.06
Other / Non-Disclosed            11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [123]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

# Purchase_count by Gender:

purchase_count=Purchases.groupby(["Gender"])[['Price']].count()
purchase_count

                       Price
Gender
Female                   113
Male                     652
Other / Non-Disclosed     15

In [125]:
# Total Purchase by Gender (total revenue bygender)

total_purchase_by_gender = pd.pivot_table(Purchases, values='Price', index=['Gender'], aggfunc=np.sum)
total_purchase_by_gender.head()

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [127]:
#  Avergae Total Purchase price by Gender (Average Revenue by Gender):

avg_purchase_by_gender = pd.pivot_table(Purchases, values='Price', index=['Gender'], aggfunc=np.mean)
avg_purchase_by_gender

pd.DataFrame(np.round(avg_purchase_by_gender, decimals=2))

                       Price
Gender
Female                  3.20
Male                    3.02
Other / Non-Disclosed   3.35

In [133]:
# Avg Total Purchase per Person

df_concat3 = pd.concat([purchase_by_gender,genders_count_df], axis=1, sort=True)

df_concat3['Avg Total Purchase per Person'] = df_concat3['Price']/df_concat3['Gender']
df_concat3


df_concat4 = pd.concat([purchase_count,avg_purchase_by_gender, df_concat3,], axis=1, sort=True)
df_concat4

del df_concat4['Gender']

df_concat4.columns= [' Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']  


pd.DataFrame(np.round(df_concat4, decimals=2))


# avg_per_person= (total_purchase_price/group_by_gender)
# avg_per_person

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [12]:
# Total Purchases Per Person (Total Revenue per Person):

purchase_by_gender = pd.pivot_table(Purchases, values='Price', index=['Gender'], aggfunc=np.sum)
purchase_by_gender.head()

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [16]:
#  Avergae Total Purchase  Person (Average Revenue by Gender):

table = pd.pivot_table(Purchases, values='Price', index=['Gender'], aggfunc=np.mean)
table

pd.DataFrame(np.round(table, decimals=2))

                       Price
Gender
Female                  3.20
Male                    3.02
Other / Non-Disclosed   3.35

In [69]:
df_concat2 = pd.concat([Total_Purchase_Value, table,group_by_gender], axis=1)

# df_concat2.rename(columns = {list(df_concat2)[0]: 'Total Purchase Value', list(df_concat2)[1]: 'Average Purchase Price',
#                             list(df_concat2)[2]:'Purchase Count'}, inplace= True)

df_concat2.columns= [' Total Purchase Value', 'Average Purchase Price', 'Purchase count']        
        
pd.DataFrame(np.round(df_concat2, decimals=2))

,Total Purchase Value,Average Purchase Price,Purchase count
Gender,,,
Female,361.94,3.20,113
Male,1967.64,3.02,652
Other / Non-Disclosed,50.19,3.35,15

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# Establish bins for ages:

# age_categories= pd.cut(np.array([0, 5, 10, 15, 20, 25, 30]), 3, labels=["Kid", "Teenager", "Adult"])

# age_categories

In [ ]:
# Categorize the existing players using the age bins. Hint: use pd.cut()

df = Purchases
age_categories= pd.cut(df['Age'], bins=[0,10,20,30,40,50], include_lowest=True, labels=['Kid', 'Teen', 'Young Adult', 'Adult', 'Mature'])

age_categories.head()

In [ ]:
# pd.cut(np.array([0,10,20,30,40,50]), 4, retbins=True)

pd.cut(np.array([0,9.90,14.90,19.90,24.90,34.90,35.90,39.99,99999]),5, labels=["Kid", "Teen", "Young Adult", "Adult","Old"])

s = pd.Series(np.array([0,10,20,30,40,50]), index=['Age'])
pd.cut(s, [0,10,20,30,40,500], labels=False, retbins=True, right=False)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame